name: Simplecov

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  checks: write
jobs:
  code_coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.4.7
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Build and test with Rake
      run: COVERAGE=true bundle exec rake
    - name: SimpleCov+ Action
      uses: joshmfrankel/simplecov-check-action@1.0.0
      with:
        minimum_suite_coverage: 90
        minimum_file_coverage: 90
        github_token: ${{ secrets.GITHUB_TOKEN }}
